* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add this to your global CSS or a relevant CSS module */
.scroller::-webkit-scrollbar {
    height: 0;
    /* For horizontal scrollbar */
}

.scroller {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}